!!! 5
%html{lang:'en'}
  %head
    %meta{ charset:'utf-8' }
    %meta{ name:'viewport', content:'width=1024' }
    %meta{ name:'apple-mobile-web-app-capable', content:'yes' }
    %title
      Ruby Script

    %meta{ name:'description', content:'An attempt to build a super basic ECMA script interpreter in Ruby.' }
    %meta{ name:'author', content: 'Tyler Pickett' }

    %link{href:"http://fonts.googleapis.com/css?family=Montserrat+Alternates|Droid+Sans+Mono", rel:"stylesheet"}

    %link{ rel: "stylesheet", href: "css/ruby-script.css" }
    %link{ rel: 'shortcut icon', href:'favicon.png' }
    %link{ rel: 'apple-touch-icon', href: 'apple-touch-icon.png' }

  %body.impress-not-supported
    .fallback-message
      %p
        Your browser
        %b doesn't support all of the features required
        by impress.js, so you are presented with a simplified version of this presentation.
      %p
        For the best experience please use the latest version of Chrome, Safari or Firefox

    #impress
      #title.step{'data-x' => '0', 'data-y' => '0', 'data-rotate' => '0'}
        %h1 RubyScript
        %h4 An ECMAScript Experience

      #whoami.step{'data-x' => '921', 'data-y' => '921', 'data-rotate' => '45'}
        Tyler Pickett
        %br
        Twitter/Github: tpickett66

      #employer.step{'data-x' => '57', 'data-y' => '1639', 'data-rotate' => '88'}
        %embed{'type'=>"image/svg+xml", 'src' => 'images/12spokes-logo.svg'}

      #what.section.step{'data-x' => '-1042', 'data-y' => '1668', 'data-rotate' => '122'}
        What?

      #no_really.step{'data-x' => '-2009', 'data-y' => '1113', 'data-rotate' => '151'}
        %img{'src' => 'images/Ruby_logo.png'}
        +
        %img{'src' => 'images/Ecma_RVB-003.jpg'}

      #why.section.step{'data-x' => '-2619', 'data-y' => '183', 'data-rotate' => '176'}
        Why?

      #everest.step{'data-x' => '-2809', 'data-y' => '-913', 'data-rotate' => '198'}
        %img{'src' => 'images/mount-everest.jpg', 'width' => '800px'}
        Image Source:
        %a{'href' => 'http://www.nepal24hours.com/'} nepal24hours.com

      #ryan_davis.step{'data-x' => '-2611', 'data-y' => '-1967', 'data-rotate' => '217'}
        %img{'src' => 'images/zenspider.jpg'}
        %a{'href' => 'http://www.zenspider.com/'} www.zenspider.com

      .step.code-example{'data-x' => '-2065', 'data-y' => '-2949', 'data-rotate' => '235'}
        =`pygmentize -f html -O linenos=1 lib/code_example/0.rb`

      .code-example.step{'data-x' => '-1277', 'data-y' => '-3708', 'data-rotate' => '251'}
        =`pygmentize -f html -O linenos=1 lib/code_example/1.rb`

      .code-example.step{'data-x' => '-296', 'data-y' => '-4238', 'data-rotate' => '266'}
        = Pygments.highlight(File.read('lib/code_example/2.txt'))

      .code-example.step{'data-x' => '795', 'data-y' => '-4510', 'data-rotate' => '280'}
        = Pygments.highlight(File.read('lib/code_example/3.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '1918', 'data-y' => '-4519', 'data-rotate' => '293'}
        = Pygments.highlight(File.read('lib/code_example/4.txt'))

      .code-example.step{'data-x' => '3002', 'data-y' => '-4288', 'data-rotate' => '305'}
        = Pygments.highlight(File.read('lib/code_example/5.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '3993', 'data-y' => '-3856', 'data-rotate' => '316'}
        = Pygments.highlight(File.read('lib/code_example/6.txt'))

      .code-example.step{'data-x' => '4855', 'data-y' => '-3275', 'data-rotate' => '326'}
        = Pygments.highlight(File.read('lib/code_example/7.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '5644', 'data-y' => '-2513', 'data-rotate' => '336'}
        = Pygments.highlight(File.read('lib/code_example/8.txt'))

      .code-example.step{'data-x' => '6262', 'data-y' => '-1678', 'data-rotate' => '345'}
        = Pygments.highlight(File.read('lib/code_example/9.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '6766', 'data-y' => '-711', 'data-rotate' => '354'}
        = Pygments.highlight(File.read('lib/code_example/10.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '7096', 'data-y' => '248', 'data-rotate' => '362'}
        = Pygments.highlight(File.read('lib/code_example/11.txt'))

      .code-example.step{'data-x' => '7298', 'data-y' => '1287', 'data-rotate' => '370'}
        = Pygments.highlight(File.read('lib/code_example/12.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '7356', 'data-y' => '2390', 'data-rotate' => '378'}
        = Pygments.highlight(File.read('lib/code_example/13.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .code-example.step{'data-x' => '7278', 'data-y' => '3394', 'data-rotate' => '385'}
        = Pygments.highlight(File.read('lib/code_example/14.rb'), lexer: 'ruby', options: {linenos: 'inline'})

      .step{'data-x' => 0, 'data-y' => 0, 'data-z' => 15000}
      -#.code-example.step{'data-x' => '7070', 'data-y' => '4418', 'data-rotate' => '392'}
      -#.code-example.step{'data-x' => '6726', 'data-y' => '5446', 'data-rotate' => '399'}
      -#.code-example.step{'data-x' => '6319', 'data-y' => '6319', 'data-rotate' => '405'}
      -#.code-example.step{'data-x' => '5807', 'data-y' => '7172', 'data-rotate' => '411'}
      -#.code-example.step{'data-x' => '5190', 'data-y' => '7992', 'data-rotate' => '417'}
      -#.code-example.step{'data-x' => '4467', 'data-y' => '8767', 'data-rotate' => '423'}
      -#.code-example.step{'data-x' => '3641', 'data-y' => '9486', 'data-rotate' => '429'}

    %script{src: 'js/impress.js'}
    :javascript
      impress().init();
